@model IEnumerable<CatalogOfFilms.Models.Film>
@{
    ViewBag.Title = "ShowFilms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>ShowFilms</h2>
@foreach (var item in ViewBag.Films)
{
    <td class="media-right">
        <img src="@item.Poster" alt="@item.Title" />
        <div class="content">
            <small>@item.Genre</small>
            <h2>@item.Title</h2>
            <h3>@item.Rating</h3>
            <p>@item.Description</p>
        </div>
    </td>
    <tr>
    </tr>
}
